<% if model.errors.any? %>

  <div id="error_explanation" class="alert alert-warning">
    <ul class="mb-0">
      
<% model.errors.full_messages.each do |task| %>

        <li>
<%= task %>
</li>
      
<% end %>

    </ul>
  </div>
  
  <% if @task.errors.any? %>

    <div id="error_explanation">
      <ul>
        
<% @task.errors.full_messages.each do |msg| %>

          <li>
<%= msg %>
</li>
        
<% end %>

      </ul>
    </div>
  
<% end %>
<% end %>